@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  height: 95.5vh;
  width: 100%;
  background-image: url("../img/HomePage2.jpg");
  background-position: 0% 44%;
  background-size: cover;
  box-sizing: border-box;
  position: relative;
  opacity: 0.5;
}

.purpose {
  position: absolute;
  left: 100px;
  top: 80px;
  font-size: 50px;
  font-display: center;
  letter-spacing: 2px;
  text-align: center;
  padding: 50px 0 50px;
  text-shadow: white 0px 0px 20px;
}

.slogan {
  position: absolute;
  left: 100px;
  top: 250px;
  font-size: 20px;
  text-shadow: white 0px 0px 20px;
}
