.backgroundImage {
  background-image: url("../img/RecommendationsBackground.jpg");
  width: 100%;
  height: 30vh;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.titleBox {
  background-color: white;
  padding: 1%;

  width: 70%;
  height: 12vh;
  box-shadow: 15px 15px 30px rgba(0, 0, 0, 1);
  border-color: black;
  border-style: solid;
  border-width: 5px;

  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.title {
  font-size: 30px;
  color: black;
}

.description {
  font-size: 20px;
  color: black;
}
.containerImage {
  position: relative;
  column-count: 4;
  padding: 20px;
}
.popularPlates {
  font-size: 30px;
  color: black;
  position: relative;
  left: 1000px;
  padding: 10%;
}
.yummy {
  font-size: 50px;
  position: absolute;
  top: 220%;
  padding: -50%;
}
.image {
  width: 150%;
  transition: 0.2s ease ease-in-out;

  transform: translate(50%, 170%);
}
.image:hover img {
  transform: scale(0.9);
}
h1 {
  position: absolute;
  padding: 5px;
  margin: 5px;
  font-size: 20px;
  background-color: gray;
  color: whitesmoke;
  border-radius: 5px;
  opacity: 0;
  z-index: 1;
  transition: 0.2 ease-in-out;
}
.image:hover h1 {
  opacity: 0.5;
}

@media screen and(max-width:1024px) {
  .container {
    font-size: 20px;
  }
}
@media screen and(max-width:768px) {
  .container {
    column-count: 3;
  }
}
@media screen and(max-width:425px) {
  .container {
    column-count: 2;
    flex: 50%;
    max-width: 50%;
  }
  .h1 {
    font-size: 15px;
  }
}
@media screen and(max-width:375px) {
  .container {
    column-count: 1;
    flex: 50%;
    max-width: 50%;
  }
  .h1 {
    font-size: 9px;
  }
}
.deliciusMeal {
  width: 100%;
  height: 30vh;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-left: 15%;
  margin-top: -100%;
  margin-bottom: 0%;
}
